.imageWrapper {					// Sets the background image in the header area
	height: 714px;
	background: 
		linear-gradient(
		rgba($image-overlay-color, $image-overlay-transparency), 
		rgba($image-overlay-color, $image-overlay-transparency)
		   ),
		
		url($header-image);

	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	border-radius: 0px 0px 40px 40px;

}

.headerBackground {
	height: 115px;
	background-color: rgba($header-color, $header-transparency);
}

@media only screen and (max-width: 768px) {

	.headerBackground {
		height: 80px;
	}

}

.subPageHeaderBackground {
	background-color: #fff;
}

.container {					// Set up the container for the site content
	display: grid;
	margin: auto;
	max-width: $content-width;
	padding-left: 15px;
	padding-right: 15px;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 115px 876px auto auto auto;
	grid-column-gap: 30px;
	grid-template-areas: 
		"h h h h h h h h h h h h"
		"i i i i i p p p p p p p"
		"c c c c c c c c c c c c"
		"s s s s s s s s s s s s"
		"f f f f f f f f f f f f";
}

.subPageContainer {
	grid-template-rows: 115px auto auto auto auto;
	background-color: #fff;
}

@media only screen and (max-width: 768px) {

	.container {					// Set up the container for the site content
		grid-template-rows: 80px 811px auto auto auto;
	}
}

@media only screen and (max-width: 992px) {

	.container {
		grid-column-gap: 0px;
		grid-template-columns: 1;
		grid-template-rows: 115px auto auto auto auto auto;
		grid-template-areas: 
			"h h h h h h h h h h h h"
			"i i i i i i i i i i i i"
			"p p p p p p p p p p p p"
			"c c c c c c c c c c c c"
			"s s s s s s s s s s s s"
			"f f f f f f f f f f f f";
	}
}

.page {
	margin-top: 30px;
	margin-bottom: 70px;
	grid-column: 3/11;
}

@media only screen and (max-width: 768px) {

	.page {
		margin-top: 30px;
		margin-bottom: 70px;
		grid-column: 1/-1;
	}
	
} 

header {
	grid-area: h;
	display: flex;
	margin-right: -15px;
}

.logo {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 115px;
	margin-right: 30px;
}

.logo > p {
	color: $header-title-color;
	white-space: nowrap;
	display: flex;
	font-weight: bold;
	margin-left: 15px;
}

@media only screen and (max-width: 768px) {

	.logo {
		height: 80px;
		margin-right: 0px;
	}

	.logo > p {
		display: none;
	}
	
} 

.headerIcon {
	width: 50px;
	height: 50px;
	-webkit-clip-path: url(#shape);
	clip-path: url(#shape);
}

@media only screen and (max-width: 768px) {

	.divider {
		position: relative;
		min-width: 1px;
		max-width: 1px;
		background-color:rgba(127, 127, 127, 0.2);
		display: inline-block;
		margin-left: 15px;
	}	
	
} 


// Navigation Links
.scroll {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: flex-end;

	height: 115px;
	//margin-left: 15px;

	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

@media only screen and (max-width: 768px) {

	.scroll {
		height: 80px;
		padding-top: 100px;
		padding-bottom: 100px;
		margin-top: -60px;
		justify-content: flex-start;
	}	
	
} 

.scroll::-webkit-scrollbar {
	display: none;
}


nav > ul {
	color: #fff;
	display: flex;
	list-style-type: none;

}

nav > ul li {
	padding-left: 30px;
}

@media only screen and (max-width: 768px) {

	nav > ul li {
		padding-left: 20px;
	}

}

nav > ul li:first-child {
	padding-left: 0px;
	padding-left: 15px;
}

nav > ul li:last-child {
	padding-right: 15px;
}

nav > ul li a:link,
nav > ul li a:visited {
	text-decoration: none;
	color: rgba($header-title-color, 0.6);
}

nav > ul li a:hover,
nav > ul li a:active {
	text-decoration: none;
	color: rgba($header-title-color, 1);
}

.langDivider {
	color: rgba($header-title-color, 0.45);
	padding-left: 30px;
}

.langSwitch {
	display: flex;
	align-items: center;
	gap: 10px;
	padding-left: 30px;
}

.langSwitch a {
	text-decoration: none;
	color: rgba($header-title-color, 0.6);
	border-bottom: 2px solid transparent;
	padding-bottom: 2px;
}

.langSwitch a.active {
	color: rgba($header-title-color, 1);
	border-bottom-color: rgba($header-title-color, 1);
}



// Sub Page Header Styling
.subPageHeaderBackground .logo > p {
	color: #000;
}

.subPageHeaderBackground nav > ul li a:link,
.subPageHeaderBackground nav > ul li a:visited {
	color: rgba(#000, 0.6);
}

.subPageHeaderBackground nav > ul li a:hover,
.subPageHeaderBackground nav > ul li a:active {
	color: rgba(#000, 1);
}

.subPageHeaderBackground .langDivider {
	color: rgba(#000, 0.45);
}

.subPageHeaderBackground .langSwitch a {
	color: rgba(#000, 0.6);
}

.subPageHeaderBackground .langSwitch a.active {
	color: rgba(#000, 1);
	border-bottom-color: rgba(#000, 1);
}



// App Title, Price, Description and Links

.appInfo {
	grid-area: i;
	display: flex;
	flex-wrap: wrap;
	padding-top: 140px;
	align-content: flex-start;
}

.iphonePreview {
	grid-area: p;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	margin-top: 68px;
}
@media only screen and (max-width: 992px) {

	.appInfo {
		padding-top: 50px;
		justify-content: center;
	}

} 

.appIconShadow {
	display: flex;
	filter: $drop-shadow;
}

.appIconLarge {
	width: 120px;
	height: 120px;
	-webkit-clip-path: url(#shape120);
	clip-path: url(#shape120);
}

.appNamePriceContainer {
	display: flex;
	flex: 0 1 auto;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	margin-left: 30px;
}

.appName {
	color: $app-title-color;
}

.appPrice {
	color: $app-price-color;
	font-weight: normal;
	margin-top: 13px;
}

@media only screen and (max-width: 768px) {

	.appNamePriceContainer {
		width: 100%;
		margin-left: 0px;
		align-items: center;
		justify-content: center;
	}

	.appName {
		margin-top: 30px;
		text-align: center;
	}
	
	.appPrice {
		margin-top: 13px;
		text-align: center;
	}
	
} 

.appDescriptionContainer {
	font-size: 2.5rem;
	font-weight: normal;
	width: 100%;
	align-items: flex-start;
	margin-top: 45px;
	flex: 0 1 auto;
	line-height: 1.5;
}

.appDescription {
	color: $app-description-color;
}

@media only screen and (max-width: 992px) {

	.appDescription {
		text-align: center;
	}
	
} 

.downloadButtonsContainer {
	display: inline-block;
	margin-top: 42px;
	filter: $drop-shadow;
}

@media only screen and (max-width: 992px) {

	.downloadButtonsContainer {
		text-align: center;
	}
	
} 

.playStore {
	height: 75px;
	margin-right: 24px;
}

@media only screen and (max-width: 992px) {

	.playStore {
		margin-right: 24px;
		margin-bottom: 0px;
	}
	
} 

@media only screen and (max-width: 528px) {

	.playStore {
		margin-right: 0px;
		margin-bottom: 24px;
	}
	
} 

.appStore {
	height: 75px;
}



// iPhone Device Preview

.iphonePreview {
	grid-area: p;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	margin-top: 68px;
}

.heroScreenshot {
	width: 100%;
	max-width: 366px;
	height: auto;
	filter: $drop-shadow;
}

@media only screen and (max-width: 1070px) {

	.iphonePreview {
		margin-top: 50px;
	}
	
} 

@media only screen and (max-width: 992px) {

	.iphonePreview {
		margin-top: 40px;
		padding-bottom: 40px;
	}
	
} 


// Feature List
.features {
	grid-area: c;
	display: flex;
	flex: 0 1 auto;
	align-content: flex-start;
	justify-content: flex-start;
	flex-grow: 1;
	flex-wrap: wrap;
	margin-top: 93px;
}

.feature {
	display: flex;
	padding-top: 63px;
	padding-left: 15px;
	padding-right: 15px;
	width: calc(100%/3);
}

.feature:nth-child(-n+3) {
    padding-top: 0px;   
}

.feature:nth-child(3n) {
	padding-right: 0px;
}

.feature:nth-child(3n+1) {
	padding-left: 0px;
}

.iconBack {
	color: $feature-icons-background-color;
}

.iconTop {
	color: $feature-icons-foreground-color;
}

.socialIconBack {
	color: $social-icons-background-color;
}

.socialIconTop {
	color: $social-icons-foreground-color;
}

.featureText {
	margin-left: 18px;
}

.featureText > h3 {
	color: $feature-title-color;
}

.featureText > p {
	color: $feature-text-color;
	margin-top: 8px;
	line-height: 1.5;
}

@media only screen and (max-width: 992px) {

	.features {
		flex-grow: 1;
		flex-direction: row;
		flex-wrap: wrap;
		margin-top: 11px;
	}

	.feature {
		display: flex;
		padding-top: 41px;
		padding-left: 15px;
		padding-right: 15px;
		width: 100%;
	}

	.feature:nth-child(-n+3) {
		padding-top: 41px;   
	}

	.feature:nth-child(1) {
		padding-top: 0px;   
	}

	.feature:nth-child(3n) {
		padding-right: 15px;
	}
	
	.feature:nth-child(3n+1) {
		padding-left: 15px;
	}

}

@media only screen and (max-width: 375px) {

	.features {
		flex-grow: 1;
		flex-direction: row;
		flex-wrap: wrap;
		margin-top: 11px;
	}

	.feature {
		display: flex;
		padding-top: 41px;
		padding-left: 0px;
		padding-right: 0px;
		width: 100%;
	}

	.feature:nth-child(-n+3) {
		padding-top: 41px;   
	}

	.feature:nth-child(1) {
		padding-top: 0px;   
	}

	.feature:nth-child(3n) {
		padding-right: 0px;
	}
	
	.feature:nth-child(3n+1) {
		padding-left: 0px;
	}
	
} 

// Feature Section (full-height)
.featureSection {
	grid-area: s;
	display: grid;
	grid-template-columns: minmax(0, 1.2fr) minmax(0, 1fr);
	align-items: center;
	gap: 60px;
	min-height: 100vh;
	padding: 80px 0;
}

.featureSectionMedia {
	min-height: 60vh;
	border-radius: 24px;
	background: rgba(0, 0, 0, 0.04);
	border: 1px dashed rgba(0, 0, 0, 0.18);
}

.featureSectionContent h2 {
	color: $feature-title-color;
	margin: 0;
}

.featureSectionContent p {
	color: $feature-text-color;
	font-size: 1.5rem;
	line-height: 1.6;
	margin-top: 16px;
}

.featureSectionTitleRow {
	display: flex;
	align-items: center;
	gap: 16px;
}

.featureSectionIcon {
	font-size: 0.9rem;
}

@media only screen and (max-width: 992px) {
	.featureSection {
		grid-template-columns: 1fr;
		gap: 32px;
		padding: 70px 0;
	}

	.featureSectionMedia {
		min-height: 45vh;
	}

	.featureSectionContent p {
		font-size: 1.25rem;
	}
}

@media only screen and (max-width: 768px) {
	.featureSection {
		padding: 60px 0;
	}
}


// Footer

footer {
	grid-area: f;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.footerText {
	color: $footer-text-color;
	display: block;
	line-height: 1.5;
	width: 100%;
	text-align: center;
	padding-top: 70px;
	padding-bottom: 16px;
}

.footerDisclaimer {
	color: rgba(0, 0, 0, 0.5);
	display: block;
	line-height: 1.5;
	width: 100%;
	text-align: center;
	padding-bottom: 54px;
	font-size: 0.8rem;
}

.footerIcons {
	padding-bottom: 70px;
	display: flex;
	flex: 0 0 100%;
	justify-content: center;
}

.footerLinks {
	display: flex;
	text-align: center;
	padding-bottom: 70px;
}

.footerLinks a {
	margin-right: 30px;
}

.footerLinks a:last-child {
	margin-right: 0px;
}


@media only screen and (max-width: 768px) {

	.footerLinks {
		flex-direction: column;
	}

	.footerLinks a {
		justify-content: stretch;
		margin-right: 0px;
		margin-top: 20px;
	}

	.footerLinks a:first-child {
		margin-top: 0px;
	}	

}

@media only screen and (max-width: 992px) {
	
	.footerText {
		color: $footer-text-color;
		display: block;
		line-height: 1.5;
		width: 100%;
		text-align: center;
		padding-top: 54px;
		padding-bottom: 61px;
	}
	
	.footerIcons {
		padding-bottom: 70px;
		display: flex;
	}
	
} 

.hidden {
	display: none;
}

// Landing revamp
.landingBody {
	background: $body-color;
}

.landingContainer {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 24px;
}

.landingMain {
	padding: 80px 0 40px;
}

.heroWrap {
	background:
		linear-gradient(
		rgba($image-overlay-color, $image-overlay-transparency),
		rgba($image-overlay-color, $image-overlay-transparency)
		   ),
		url($header-image);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	border-radius: 0 0 40px 40px;
	padding-bottom: 60px;
	position: relative;
}

.heroWrap::before {
	content: "";
	position: absolute;
	inset: 0;
	background: rgba(0, 0, 0, 0.12);
	pointer-events: none;
	border-radius: inherit;
}

.heroWrap > * {
	position: relative;
	z-index: 1;
}

.heroGrid {
	display: grid;
	grid-template-columns: 1.05fr 0.95fr;
	gap: 18px;
	align-items: center;
	padding-top: 44px;
	max-width: 980px;
	margin: 0 auto;
}

.heroCopy h1 {
	margin: 0;
	font-size: clamp(32px, 3.2vw, 44px);
	line-height: 1.1;
	letter-spacing: -0.02em;
	color: $app-title-color;
}

.heroBadge {
	display: flex;
	align-items: center;
	gap: 16px;
	margin-bottom: 12px;
}

.heroIcon {
	width: 64px;
	height: 64px;
	border-radius: 16px;
}

.heroPrice {
	margin: 6px 0 0;
	color: rgba($app-title-color, 0.7);
}

.heroSubtitle {
	font-size: clamp(16px, 1.4vw, 18px);
	color: $app-description-color;
	max-width: 520px;
	line-height: 1.45;
}

.heroActions {
	display: flex;
	gap: 16px;
	align-items: center;
	margin: 16px 0 20px;
}

.heroStats {
	display: flex;
	gap: 24px;
	color: $app-title-color;
}

.heroStatValue {
	font-size: 1.2rem;
	font-weight: 600;
}

.heroStatLabel {
	font-size: 0.9rem;
	color: rgba($app-title-color, 0.7);
}

.heroMedia {
	display: flex;
	justify-content: center;
}

.heroScreenshot {
	width: 100%;
	max-width: 360px;
	height: auto;
	filter: $drop-shadow;
}

.heroAnimate {
	opacity: 0;
	transform: translateY(10px);
	transition: transform 480ms ease, opacity 480ms ease;
}

.heroAnimate--scale {
	transform: scale(0.98);
}

.heroInView {
	opacity: 1;
	transform: translateY(0) scale(1);
}

.useCases {
	padding: 40px 0 110px;
}

.useCasesHeader {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-bottom: 32px;
}

.useCasesTitle {
	margin: 0;
	font-size: clamp(34px, 4vw, 48px);
	font-weight: 800;
	letter-spacing: -0.02em;
	line-height: 1.1;
}

.useCasesSubtitle {
	font-size: clamp(16px, 1.4vw, 18px);
	font-weight: 500;
	max-width: 680px;
	color: rgba(0, 0, 0, 0.6);
	line-height: 1.45;
}

.useCasesGrid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 28px;
}

.useCaseCard {
	background: #fff;
	border-radius: 18px;
	padding: 20px 22px;
	box-shadow: 0 12px 30px rgba(0, 0, 0, 0.06);
	display: grid;
	gap: 12px;
	transition: transform 220ms ease, box-shadow 220ms ease, opacity 220ms ease;
}

.useCaseCard p {
	font-size: 1.86rem;
	line-height: 1.5;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.7);
}

.useCaseImage {
	height: 160px;
	border-radius: 14px;
	background: #f0f2f5;
	border: 1px solid rgba(0, 0, 0, 0.04);
	overflow: hidden;
	display: flex;
}

.useCaseImage img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.useCaseCard:hover {
	transform: translateY(-4px);
	box-shadow: 0 16px 34px rgba(0, 0, 0, 0.08);
}

.animateIn {
	opacity: 0;
	transform: translateY(10px);
}

.isInView {
	opacity: 1;
	transform: translateY(0);
	transition: transform 520ms ease, opacity 520ms ease;
}

@media (prefers-reduced-motion: reduce) {
	.animateIn,
	.useCaseCard:hover {
		transform: none;
		transition: none;
	}
}

.featureFocus {
	padding: 40px 0 90px;
}

.featureFocusCard {
	background: #2a2a2a;
	color: #fff;
	border-radius: 28px;
	padding: 56px 48px;
	width: 100%;
	box-shadow: 0 22px 60px rgba(0, 0, 0, 0.2);
	border: 1px solid rgba(255, 255, 255, 0.06);
}

.featureFocusGrid {
	display: grid;
	grid-template-columns: 1fr 1.1fr;
	gap: 48px;
	align-items: center;
}

.featureFocusMedia img {
	width: 100%;
	height: auto;
	border-radius: 22px;
	filter: $drop-shadow;
}

.featureFocusMedia {
	display: flex;
	justify-content: center;
}

.featureFocusVideo {
	width: 100%;
	max-width: 430px;
	aspect-ratio: 9 / 16;
	border-radius: 22px;
	overflow: hidden;
	background: transparent;
}

.featureFocusPlayer {
	width: 100%;
	height: 100%;
	object-fit: contain;
	display: block;
}

.featureFocusList {
	display: grid;
	gap: 32px;
}

.featureFocusTitle {
	margin: 0;
	font-size: clamp(34px, 4vw, 48px);
	font-weight: 800;
	letter-spacing: -0.02em;
	line-height: 1.1;
	color: #fff;
}

.featureFocusSubtitle {
	margin: 8px 0 24px;
	font-size: clamp(16px, 1.4vw, 18px);
	font-weight: 500;
	max-width: 680px;
	color: rgba(255, 255, 255, 0.7);
	line-height: 1.45;
}

.featureFocusItem {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 14px;
	align-items: start;
	background: rgba(255, 255, 255, 0.08);
	border-radius: 16px;
	padding: 14px 16px;
	border: 1px solid rgba(255, 255, 255, 0.08);
	text-align: left;
	width: 100%;
	cursor: pointer;
}

.featureFocusItem h3 {
	color: #fff;
}

.featureFocusItem p {
	font-size: 1.86rem;
	line-height: 1.5;
	font-weight: 500;
	color: rgba(255, 255, 255, 0.7);
}

.featureFocusItem.isActive {
	background: rgba(255, 255, 255, 0.14);
	border-color: rgba(255, 255, 255, 0.2);
	box-shadow: 0 10px 22px rgba(0, 0, 0, 0.2);
}

.featureFocusItem.isActive .iconTop {
	color: $accent-color;
}

.featureFocusItem:focus-visible {
	outline: 2px solid $accent-color;
	outline-offset: 2px;
}

.featureFocusCard .iconBack {
	color: rgba(255, 255, 255, 0.2);
}

.featureFocusCard .iconTop {
	color: rgba(255, 255, 255, 0.9);
}

.ctaSection {
	padding: 56px 0 90px;
	background: transparent;
}

.ctaSection .landingContainer {
	padding: 0 16px;
	max-width: 1200px;
}

.ctaCard {
	background: transparent;
	color: #111;
	border-radius: 0;
	padding: 0;
	width: 100%;
	margin: 0;
	box-shadow: none;
	border: none;
}

.ctaInner {
	max-width: 980px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1.1fr 0.9fr;
	gap: 16px;
	align-items: center;
}

.ctaTitle {
	margin: 0 0 12px;
	font-size: clamp(38px, 4.6vw, 54px);
	font-weight: 800;
	letter-spacing: -0.02em;
	line-height: 1.1;
}

.ctaText {
	margin: 0 0 22px;
	font-size: 1.86rem;
	line-height: 1.5;
	color: rgba(0, 0, 0, 0.7);
	max-width: 560px;
}

.ctaButtons {
	display: flex;
	gap: 14px;
	flex-wrap: wrap;
}

.ctaButton {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 12px 20px;
	border-radius: 999px;
	background: #ffffff;
	color: #111;
	font-weight: 600;
	text-decoration: none;
}

.ctaMedia img {
	width: 100%;
	height: auto;
	border-radius: 20px;
	max-width: 400px;
}

.ctaAnimate {
	opacity: 0;
	transform: translateY(10px);
	transition: transform 260ms ease, opacity 260ms ease;
}

.ctaAnimate--scale {
	transform: scale(0.98);
}

.ctaInView {
	opacity: 1;
	transform: translateY(0) scale(1);
}

.isHidden {
	display: none;
}

@media only screen and (max-width: 992px) {
	.heroGrid,
	.featureFocusGrid,
	.ctaInner {
		grid-template-columns: 1fr;
	}

	.heroMedia {
		justify-content: center;
	}

	.useCasesGrid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media only screen and (max-width: 768px) {
	.landingContainer {
		padding: 0 16px;
	}

	.heroWrap {
		padding-bottom: 48px;
		border-radius: 0 0 28px 28px;
	}

	.heroGrid {
		padding-top: 32px;
		gap: 24px;
	}

	.heroCopy h1 {
		font-size: 2.2rem;
	}

	.heroSubtitle {
		font-size: 1.1rem;
	}

	.heroActions {
		margin: 12px 0 16px;
	}

	.useCasesGrid {
		grid-template-columns: 1fr;
	}

	.featureFocusCard {
		padding: 32px 24px;
	}

	.ctaCard {
		padding: 0;
		width: 100%;
	}

	.ctaText {
		font-size: 1.05rem;
	}
}

@media (prefers-reduced-motion: reduce) {
	.heroAnimate {
		opacity: 1;
		transform: none;
		transition: none;
	}

	.ctaAnimate {
		opacity: 1;
		transform: none;
		transition: none;
	}
}
